body{
    display: flex;
    justify-content: center;
}

.grid-container {
    margin-top:10px;
    display: flex;
    column-gap: 150px;
    flex-direction: row;
  }

h1{
    font-family: 'Inter', sans-serif;
    font-size: 80px;
    font-weight:200;
}

h5{
    font-family: 'Inter', sans-serif;
    font-size:smaller;
    font-weight:500;
    margin-top:65px;
}

h2{
    font-family: 'Inter', sans-serif;
    margin-top: 60px;
    font-size:40px;
    font-weight:400;
}

h3{
    font-family: 'Inter', sans-serif;
    margin-top:60px;
    margin-bottom:0px;
    font-size:small;
    font-weight:bold;
}

p{
    font-family: 'Inter', sans-serif;
    color:grey;
    font-size:small;
    margin-top:0px;

}

.border-box{
    margin-top: 3rem;
    background-color: pink;
    border-radius: 20px;
    height: 250px;
    width: 16rem;
  }

img#logo{
    scale:0.5;
}

h4{
    margin-top: 0px;
    margin-bottom: 0px;
     font-family: 'Inter', sans-serif;
}

.pry{
    padding-bottom: 3rem;
}